<html>
  <div>
    <div class="container">
      <a href="#" class="toggle-menu" (click)="toggleMenu()">
        <i class="fas fa-bars"></i> Menu
      </a>
      <div class="menu sidebar">
        <div class="menu-header">
          <h2>Menu</h2>
        </div>
        <ul class="menu-list">
          <li><a href="#">Reservas de boleto</a></li>
          <li><a href="#">Planes de pagos</a></li>
          <li><a href="#">Ver boletos reservados</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
      <div class="content">
        <!-- Aquí va el contenido de la vista -->
      </div>
    </div>
  </div>
</html>
<router-outlet></router-outlet>

<!--
  
-->
